.parallax {
  /* The image used */
  background-image: url("../media/images/parallax-1.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-about {
  /* The image used */
  background-image: url("../media/images/fruits.jpg");

  /* Set a specific height */
  height: 500px;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.selected {
  color: red;
}

.page-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100vw;
  margin: 0;
}

.content-height {
  height: 1000px;
}

.application-container {
  margin: 0 3%;
  background-color: #fff;
}

.waiter-img {
  width: 100%;
  max-width: 80%;
  min-width: 300px;
  margin: auto;
}

.content-text {
  padding: 5% 2% 5% 2%;
}

.grid-image {
  width: 50%;
  min-width: 350px;
}

.parallax-commitment {
  /* The image used */
  background-image: url("../media/images/table-served.jpg");

  /* Set a specific height */
  height: 500px;
  object-fit: stretch;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-title {
  font-family: "adobe-garamond-pro";
  font-size: 2.5rem;
  font-weight: 600;
  color: #111;
}

.intro-text {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #777;
}

.commitment {
  margin-left: 10%;
  width: 50%;
}

@media screen and (max-width: 500px) {
  .commitment {
    width: 80%;
  }

  .navigation-actions {
    display: none !important;
  }

  .waiter-img {
    max-width: none;
  } 
}

.about-content {
  width: 60%;
}

.social-work-flex {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .about-content {
    width: 80%;
  }
  .social-work-flex {
    flex-direction: column;
  }
}
.social-work {
  width: 70%;
  margin-top: 5%;
}

.we-support {
  margin-left: 10%;
}

.topnav {
  display: none;
}

@media screen  and (max-width: 500px){
  .topnav {
    display: block;
  }
}

.myLinks-component {
  position: absolute !important;
  background-color: #fff;
  right: 20px;
  border: 1px solid black;
}

.myLinks-component div {
  padding: 5px 25px;
}

.myLinks-component div:hover {
  background-color: #ddd;
}

.menu-category-card {
  max-height: 200px;
}

.menu-item-card-container {
  position: relative;
  text-align: center;
  color: white;
}

.menu-item-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-page-title {
    font-size: 2rem;
    font-weight: 500;
}